<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Sortir !{% endblock %}</title>
       {#  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">#}
           {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="icon" href="{{ asset('img/logo.png')}}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </head>
    <body {% if app.user %}class="nav-styles-enabled"{% endif %}>
         {% block header %}
             <a href="{{ path('app_home') }}"><img src="{{ asset('img/logo.png')}}" alt="Sortir"></a>
             {% include("inc/nav.html.twig") %}
         {% endblock %}
         {% block body %}{% endblock %}
    </body>
<style>
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
</html>
