<nav>

        {% if app.user %}
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('app_villes') }}" title="Villes">Villes</a>
                <a href="{{ path('app_campus') }}" title="Campus">Campus</a>
            {% endif %}
            <a href="{{ path('app_home') }}" title="Accueil">Accueil</a>
            <a href="{{ path('app_profil') }}" title="Mon profil">Mon profil</a>
            <a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a>
        {% endif %}

</nav>